@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900 text-white min-h-screen font-sans;
}

.glass {
  @apply bg-white/10 backdrop-blur-md border border-white/20 rounded-2xl;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #312e81;
  border-radius: 10px;
}